<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>photos</key>
		<array>
			<array>
				<string>http://ww3.sinaimg.cn/thumbnail/006ka0Iygw1f6bqm7zukpj30g60kzdi2.jpg</string>
				<string>http://ww1.sinaimg.cn/thumbnail/61b69811gw1f6bqb1bfd2j20b4095dfy.jpg</string>
				<string>http://ww1.sinaimg.cn/thumbnail/54477ddfgw1f6bqkbanqoj20ku0rsn4d.jpg</string>
			</array>
			<array>
				<string>http://ww3.sinaimg.cn/large/006ka0Iygw1f6bqm7zukpj30g60kzdi2.jpg</string>
				<string>http://ww1.sinaimg.cn/large/61b69811gw1f6bqb1bfd2j20b4095dfy.jpg</string>
				<string>http://ww1.sinaimg.cn/large/54477ddfgw1f6bqkbanqoj20ku0rsn4d.jpg</string>
			</array>
		</array>
		<key>time</key>
		<string>17:21</string>
		<key>like_count</key>
		<string>10</string>
		<key>comment_count</key>
		<string>5</string>
		<key>text</key>
		<string>Swift3.0官方文档分享请关注我的个人空间</string>
		<key>name</key>
		<string>余老师</string>
		<key>icon</key>
		<string>3</string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<array/>
			<array/>
		</array>
		<key>time</key>
		<string>17:22</string>
		<key>like_count</key>
		<string>4</string>
		<key>comment_count</key>
		<string>2</string>
		<key>text</key>
		<string>搭建React Native环境请关注我的个人空间</string>
		<key>name</key>
		<string>周老师</string>
		<key>icon</key>
		<string>5</string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<array>
				<string>http://ww4.sinaimg.cn/thumbnail/006ka0Iygw1f6b8gpwr2tj30bc0bqmyz.jpg</string>
				<string>http://ww3.sinaimg.cn/thumbnail/006ka0Iygw1f6bqm7zukpj30g60kzdi2.jpg</string>
				<string>http://ww1.sinaimg.cn/thumbnail/61b69811gw1f6bqb1bfd2j20b4095dfy.jpg</string>
				<string>http://ww1.sinaimg.cn/thumbnail/54477ddfgw1f6bqkbanqoj20ku0rsn4d.jpg</string>
			</array>
			<array>
				<string>http://ww4.sinaimg.cn/large/006ka0Iygw1f6b8gpwr2tj30bc0bqmyz.jpg</string>
				<string>http://ww3.sinaimg.cn/large/006ka0Iygw1f6bqm7zukpj30g60kzdi2.jpg</string>
				<string>http://ww1.sinaimg.cn/large/61b69811gw1f6bqb1bfd2j20b4095dfy.jpg</string>
				<string>http://ww1.sinaimg.cn/large/54477ddfgw1f6bqkbanqoj20ku0rsn4d.jpg</string>
			</array>
		</array>
		<key>time</key>
		<string>18:21</string>
		<key>like_count</key>
		<string>3</string>
		<key>comment_count</key>
		<string>12</string>
		<key>text</key>
		<string>早上一二节课的视频已经重新上传</string>
		<key>name</key>
		<string>马老师</string>
		<key>icon</key>
		<string>4</string>
	</dict>
	<dict>
		<key>photos</key>
		<array>
			<array>
				<string>http://images.cnblogs.com/cnblogs_com/kenshincui/842559/o_swift-screenshot-hero-large_2x.jpg</string>
			</array>
			<array>
				<string>http://images.cnblogs.com/cnblogs_com/kenshincui/842559/o_swift-screenshot-hero-large_2x.jpg</string>
			</array>
		</array>
		<key>time</key>
		<string>20:23</string>
		<key>like_count</key>
		<string>4</string>
		<key>comment_count</key>
		<string>5</string>
		<key>text</key>
		<string>Swift3.0教程分享请关注我的个人空间</string>
		<key>name</key>
		<string>余老师</string>
		<key>icon</key>
		<string>xjp</string>
	</dict>
</array>
</plist>
